@import "mixin";
@import "base";







#modal-billboard {
  border-radius: 20px;
  .close.icon {
    top: 4px;
    right: 4px;
  }
  .content {
    background:@color-pastel-navy;
    padding:2rem;
    .billboard-inner {
      .title {
        color:@color-white;
        font-size: 1.5rem;
      }
      .inner {
        margin:1.5em 0 0 0;
        li {
          &:last-child {
            margin:0
          }
          .flex();
          font-size:1.4rem;
          align-items: center;
          color:@color-white;
          margin:0 0 1rem 0;
          .left {
            .flex();
            flex:1.4;
            align-items: center;
            .symbol {
              width:20px;
              height:20px;
              margin:0 1rem 0 0;
              display:inline-block;
              border-radius: 50%;
            }
          }
          .right {
            .flex();
            align-items: center;
            flex:1;
            input[type="text"] {
              width:100%;
              margin:0 1rem 0 0;
            }
          }
        }
      }
    }
  }
  .actions {
    padding: 0 2rem 2rem 2rem;
    background:@color-pastel-navy;
    margin:0;
    .ui.button {
      margin:0;
      color:@color-white;
      border-radius: 0;
      font-size: 1.3rem;
      font-weight: 300;
      background:@color-pastel-orange;
    }
  }
}

.billboard-wrap {
  .incoming-call {
    border-top:15px solid @color-red;
  }
  .connection-request {
    border-top:15px solid @color-brand;
  }
  .reception {
    border-top:15px solid @color-light-green;
  }
  .non-reception {
    border-top:15px solid @color-skyblue;
  }
  .response-rate {
    border-top:15px solid @color-light-purple;
  }
  background-image:url("../images/billboard-bg.png");
  background-size:cover;
  width:100%;
  height:100%;
  .flex();
  flex-flow:column;
  .header {
    font-size: 3rem;
    padding: 1.5rem 4rem 1.5rem 4rem;
    color: @color-white;
    .flex();
    .pull-left {
      margin-right:auto;
      .flex();
      align-items: flex-end;
    }
    .pull-right {
      margin-left:auto;
      .menu-btn-wrap {
        text-align:right;
        .menu-open-btn {
          width:30px;
          height:30px;
          background-color:transparent;
          background-image:url("../images/menu_icon.svg");
          border:0;
          outline:0;
          cursor: pointer;
          padding:0;
        }
      }
      .time-wrap {

      }
    }
  }
  .content {
    flex:1;
    padding: 1.5rem 3rem 1.5rem 3rem;
  }
  .footer {
    font-size: 2.5rem;
    padding: 1.5rem 3rem;
    color: @color-white;
    white-space: nowrap;
    background: rgba(0,0,0,.5);
  }
}



.board-box {
  background: rgba(0, 0, 0, 0.5);
  border-top: 15px solid #fff;
  border-radius: 10px;
  .flex();
  flex-flow: column;
  align-items: center;
  .board-title {
    width:100%;
    color:@color-white;
    .flex();
    justify-content: center;
    align-items: center;
    font-size: 4.5rem;
  }
  .board-number {
    width:100%;
    color:@color-white;
    font-size: 7rem;
    .flex();
    justify-content: center;
    align-items: center;

  }
  .board-number.large {
    font-size:12rem;
  }
}


.board-label {
  height:100%;
  color:@color-white;
  font-size: 3.5rem;
  .flex();
  .left {
    .flex();
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    flex:1.4;
    background:rgba(0,0,0,.7);
    align-items: center;
    justify-content: flex-start;
    padding-left: 5%;

  }
  .right {
    .flex();
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    flex:1;
    background:rgba(0,0,0,.4);
    text-align:right;
    align-items: center;
    justify-content: flex-end;
    padding-right:5%;
  }
}

.board-label-vertical {
  height:100%;
  color:@color-white;
  .flex();
  flex-flow:column;
  .top {
    font-size:2.6rem;
    .flex();
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    flex:1.3;
    background:rgba(0,0,0,.7);
    align-items: center;
    justify-content: center;

  }
  .bottom {
    font-size:4.5rem;
    .flex();
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    flex:2;
    background:rgba(0,0,0,.4);
    text-align:right;
    align-items: center;
    justify-content: center;
  }
}

.billboard-chart-wrap {
  .flex();
  background:rgba(0,0,0,.5);
  border-radius: 10px;
}

.billboard-chart-label-wrap {
  text-align:center;
  font-size: 1.5rem;
  padding: 2rem 0;
  li {
    display: inline-block;
    margin: 0 1em;
  }
  .symbol {
    width: 25px;
    height: 4px;
    display: inline-block;
    vertical-align: middle;
    margin: 0 6px 0 0;
  }
  .text {
    color:@color-white;
  }
}

.user-label {
  .flex();
  background:rgba(0,0,0,.4);
  border-radius: 10px;
  height:100%;
  .left {
    flex:1;
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size:7rem;
  }
  .left.call {
    background-image:url("../images/b_call.svg");
  }
  .left.after {
    background-image:url("../images/b_after.svg");
  }
  .left.etc {
    background-image:url("../images/b_etc.svg");
  }
  .left.meal {
    background-image:url("../images/b_meal.svg");
  }
  .left.move {
     background-image:url("../images/b_move.svg");
   }
  .left.rest {
    background-image:url("../images/b_rest.svg");
  }
  .left.stay {
    background-image:url("../images/b_stay.svg");
  }
  .right {
    .flex();
    flex-flow:column;
    align-items: flex-end;
    flex:1;
    color:@color-white;
    padding:1.5rem;
    .time {
      font-size: 1.7rem;
      margin: 0 0 .7rem 0;
      flex:1;
      .flex();
      align-items: flex-end;
    }
    .name {
      font-size: 2rem;
      flex:1;
    }
  }
}


/*theme2*/
.billboard-wrap.theme2 {
  background:#484B54;
  .footer {
    border-top:4px solid @color-pastel-orange;
  }
  .board-box {
    background:transparent;
    .board-number {
      background:@color-white;
      color:@color-dark-purple;
    }
  }
  .incoming-call {
    border-top:0;
    .board-title {
      background: @color-mint;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
    }
    .board-number {
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
    }
  }
  .connection-request {
    border-top:0;
    .board-title {
      background: @color-skyblue;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
    }
    .board-number {
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
    }
  }
  .reception {
    border-top:0;
    .board-title {
      background: @color-pastel-blue;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
    }
    .board-number {
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
    }
  }
  .non-reception {
    border-top:0;
    .board-title {
      background: @color-pastel-purple;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
    }
    .board-number {
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
    }
  }
  .response-rate {
    border-top:0;
    .board-title {
      background: @color-light-purple;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
    }
    .board-number {
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
    }
  }
  .board-label {
    .left {
      color:@color-white;
      background:@color-pastel-orange;
    }
    .right {
      background:@color-white;
      color:@color-dark-purple;
    }
  }
  .board-label-vertical {
    .top {
      background:@color-pastel-orange;
      color:@color-white;
    }
    .bottom {
      background:@color-white;
      color:@color-dark-purple;
    }
  }

}


/*theme3*/
.billboard-wrap.theme3 {
  background:#514F65;
  .footer {
    border-top:4px solid @color-pastel-orange;
  }
  .board-box {
    background:transparent;
    .board-number {
      background:@color-white;
      color:@color-white;
    }
  }
  .incoming-call {
    border-top:0;
    .board-title {
      background: @color-pastel-orange;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
    }
    .board-number {
      background:@color-pastel-red;
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
    }
  }
  .connection-request {
    border-top:0;
    .board-title {
      background: #1D51A0;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
    }
    .board-number {
      background:#072F6A;
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
    }
  }
  .reception {
    border-top:0;
    .board-title {
      background: #549B1B;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
    }
    .board-number {
      background:#1C810F;
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
    }
  }
  .non-reception {
    border-top:0;
    .board-title {
      background: #549B1B;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
    }
    .board-number {
      background:#1C810F;
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
    }
  }
  .response-rate {
    border-top:0;
    .board-title {
      background: #549B1B;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
    }
    .board-number {
      background:#1C810F;
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
    }
  }
  .board-label {
    .left {
      color:@color-white;
      background:#31303D;
    }
    .right {
      background:#9A9A9A;
      color:@color-white;
    }
  }
  .board-label-vertical {
    .top {
      color:@color-white;
      background:#31303D;
    }
    .bottom {
      background:#9A9A9A;
      color:@color-white;
    }
  }
}

#modal-billboard.basic2 {
  .close.icon {
    color:#333;
  }
  .content {
    background:#F1F1F1;
    .billboard-inner {
      .inner {
        li {
          .left {
            color:#333;
          }
          .right {
            color:#333;
            input[type="text"] {
              border:1px solid #707070;
            }
          }
        }
      }
      .title {
        color:#333;
      }
    }
  }
  .actions {
    background:#F1F1F1;
    .ui.button {
      background:@color-pastel-orange;
      color:@color-white;
    }
  }
}

#modal-billboard.basic3 {
  .close.icon {
    color:#333;
  }
  .content {
    background:#F1F1F1;
    .billboard-inner {
      .inner {
        li {
          .left {
            color:#333;
          }
          .right {
            color:#333;
            input[type="text"] {
              border:1px solid #707070;
            }
          }
        }
      }
      .title {
        color:#333;
      }
    }
  }
  .actions {
    background:#F1F1F1;
    .ui.button {
      background:#31303D;
      color:@color-white;
    }
  }
}



/*color*/
.board-box.red {
  border-top:  15px solid @color-red
}
.board-box.orange {
  border-top:  15px solid @color-orange
}
.board-box.lightgreen {
  border-top:  15px solid @color-light-green
}
.board-box.skyblue {
  border-top:  15px solid @color-skyblue;
}
.board-box.lightpurple {
  border-top:  15px solid @color-light-purple;
}

/*tab*/
.billboard-tabs {
  .flex();
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 5em;
  width: 100%;
  .tab-link {
    cursor: pointer;
    width:23px;
    height:23px;
    background:rgba(255,255,255,.3);
    border-radius: 50%;
    margin:0 .7em;
  }
  .tab-link.current {
    background:@color-white;
  }
}
.billboard-tab-content {
  display:none;
  height:100%;
}
.billboard-tab-content.current {
  display:block;
}
