@import "normalize.css";
@import "lg.smartfont.css";
@import "modal.min.css";
@import "transition.min.css";
@import "dimmer.min.css";
@import "button.min.css";
@import "material.icon.css";
@import "grid.min.css";
@import "form.min.css";
@import "input.min.css";
@import "icon.min.css";
@import "table.min.css";
@import "grid.min.css";
.flex-auto {
  flex: auto;
}
.pl10 {
  padding-left: 10px;
}
.text-right {
  text-align: right !important;
}
.overflow-hidden {
  overflow: hidden !important;
}
.pull-left {
  float: left;
}
.pull-right {
  float: right;
}
* {
  box-sizing: border-box;
}
html {
  height: 100%;
}
body {
  height: 100%;
  font-family: 'LG Smart UI', 'Malgun Gothic', dotum, sans-serif;
  overflow-x: hidden;
}
button {
  white-space: nowrap;
  font-family: 'LG Smart UI', 'Malgun Gothic', dotum, sans-serif !important;
}
.container {
  height: 100%;
}
.left-panel {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  width: 70px;
  background: #f6f6f6;
  border-right: 1px solid #dbdbdb;
}
.left-panel .logo {
  text-align: center;
  padding: 20px 0;
}
.left-panel .nav {
  text-align: center;
  padding: 0;
  margin: 0;
}
.left-panel .nav .number {
  position: absolute;
  width: 21px;
  height: 21px;
  line-height: 23px;
  background: #797979;
  right: 7px;
  color: #fff;
  border-radius: 50%;
  font-size: 11px;
  letter-spacing: -1px;
  font-weight: bold;
}
.left-panel .nav li {
  position: relative;
  list-style: none;
  margin: 0 0 10px 0;
}
.left-panel .nav li button {
  margin: 0;
}
.left-panel .nav li button .material-icons {
  color: #333;
  font-size: 27px;
}
.left-panel .nav .ui.icon.button {
  background: transparent;
}
.left-panel .nav .ui.icon.button:hover {
  background: #dddddd;
}
.left-panel .nav .ui.icon.button.active {
  background: #e62388;
}
.left-panel .nav .ui.icon.button.active .material-icons {
  color: #fff;
}
.tab-cont {
  display: none;
}
.tab-cont.active {
  display: block;
}
.right-panel {
  position: relative;
  margin-left: 70px;
  height: 100%;
}
.no-drag {
  -ms-user-select: none;
  -moz-user-select: -moz-none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  user-select: none;
}
.sub-title {
  font-size: 17px;
  color: #333;
  font-weight: 700;
  margin: 0 0 10px 0;
}
.inner-box {
  border-bottom: 1px solid #dbdbdb;
  width: 100%;
  padding: 15px;
}
.inner-box:last-child {
  border-bottom: 0;
}
.inner-box.flex {
  display: flex;
}
.remote-panel {
  padding: 5px;
  position: absolute;
  bottom: 0;
  width: 100%;
  border-top: 1px solid #cecece;
}
.remote-panel ul {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
}
.remote-panel ul li {
  list-style: none;
  width: 20%;
  padding: 5px;
}
.remote-panel ul li .ui.button {
  padding: 15px 0;
}
.remote-panel ul li .ui.button.active {
  background: #e62388;
  color: #fff;
}
.ui.table {
  text-align: center;
}
.ui.table th {
  white-space: nowrap;
}
.ui.button.darkblue {
  background: #41475d;
  color: #fff;
}
.ui.button.darkblue:hover {
  background: #373c4e;
}
.ui.basic.button.darkblue {
  -webkit-box-shadow: 0 0 0 1px #41475d inset;
  box-shadow: 0 0 0 1px #41475d inset;
  color: #41475d !important;
}
.ui.grid.search .row {
  padding-bottom: 0;
}
.ui.grid.search .row:last-child {
  padding-bottom: 1rem;
}
.envelope.icon.state {
  color: #dbdbdb;
}
.envelope.open.icon.state {
  color: #333;
}
