@font-face {
  font-family: "LG Smart UI";
  font-weight: 100;
  font-style: normal;
  src: url("../fonts/LG_Smart_Font_each_v14/LGSmHaL_v1.4_151215.ttf?") format("ttf"), url("../fonts/LG_Smart_Font_each_v14/LGSmHaL_v1.4_151215.eot?") format("eof"), url("../fonts/LG_Smart_Font_each_v14/LGSmHaL_v1.4_151215.woff?") format("woff"), url("../fonts/LG_Smart_Font_each_v14/LGSmHaL_v1.4_151215.otf?") format("opentype");
}
@font-face {
  font-family: "LG Smart UI";
  font-weight: 200;
  font-style: normal;
  src: url("../fonts/LG_Smart_Font_each_v14/LGSmHaL_v1.4_151215.ttf?") format("ttf"), url("../fonts/LG_Smart_Font_each_v14/LGSmHaL_v1.4_151215.eot?") format("eof"), url("../fonts/LG_Smart_Font_each_v14/LGSmHaL_v1.4_151215.woff?") format("woff"), url("../fonts/LG_Smart_Font_each_v14/LGSmHaL_v1.4_151215.otf?") format("opentype");
}
@font-face {
  font-family: "LG Smart UI";
  font-weight: 300;
  font-style: normal;
  src: url("../fonts/LG_Smart_Font_each_v14/LGSmHaR_v1.4_151215.ttf?") format("ttf"), url("../fonts/LG_Smart_Font_each_v14/LGSmHaR_v1.4_151215.eot?") format("eof"), url("../fonts/LG_Smart_Font_each_v14/LGSmHaR_v1.4_151215.woff?") format("woff"), url("../fonts/LG_Smart_Font_each_v14/LGSmHaR_v1.4_151215.otf?") format("opentype");
}
@font-face {
  font-family: "LG Smart UI";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/LG_Smart_Font_each_v14/LGSmHaR_v1.4_151215.ttf?") format("ttf"), url("../fonts/LG_Smart_Font_each_v14/LGSmHaR_v1.4_151215.eot?") format("eof"), url("../fonts/LG_Smart_Font_each_v14/LGSmHaR_v1.4_151215.woff?") format("woff"), url("../fonts/LG_Smart_Font_each_v14/LGSmHaR_v1.4_151215.otf?") format("opentype");
}
@font-face {
  font-family: "LG Smart UI";
  font-weight: 500;
  font-style: normal;
  src: url("../fonts/LG_Smart_Font_each_v14/LGSmHaSB_v1.4_151215.ttf?") format("ttf"), url("../fonts/LG_Smart_Font_each_v14/LGSmHaSB_v1.4_151215.eot?") format("eof"), url("../fonts/LG_Smart_Font_each_v14/LGSmHaSB_v1.4_151215.woff?") format("woff"), url("../fonts/LG_Smart_Font_each_v14/LGSmHaSB_v1.4_151215.otf?") format("opentype");
}
@font-face {
  font-family: "LG Smart UI";
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/LG_Smart_Font_each_v14/LGSmHaSB_v1.4_151215.ttf?") format("ttf"), url("../fonts/LG_Smart_Font_each_v14/LGSmHaSB_v1.4_151215.eot?") format("eof"), url("../fonts/LG_Smart_Font_each_v14/LGSmHaSB_v1.4_151215.woff?") format("woff"), url("../fonts/LG_Smart_Font_each_v14/LGSmHaSB_v1.4_151215.otf?") format("opentype");
}
@font-face {
  font-family: "LG Smart UI";
  font-weight: 900;
  font-style: normal;
  src: url("../fonts/LG_Smart_Font_each_v14/LGSmHaB_v1.4_151215.ttf?") format("ttf"), url("../fonts/LG_Smart_Font_each_v14/LGSmHaB_v1.4_151215.eot?") format("eof"), url("../fonts/LG_Smart_Font_each_v14/LGSmHaB_v1.4_151215.woff?") format("woff"), url("../fonts/LG_Smart_Font_each_v14/LGSmHaB_v1.4_151215.otf?") format("opentype");
}
