<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <springProfile name="local">
        <property name="logs_path" value="./logs/" />
    </springProfile>
    <springProfile name="dev">
        <property name="logs_path" value="./logs/" />
    </springProfile>
    <springProfile name="stage">
        <property name="logs_path" value="./logs/" />
    </springProfile>

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${logs_path}/API-SERVER_%d{yyyy-MM-dd}-%i.log</fileNamePattern>
            <maxHistory>30</maxHistory>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>100MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <charset>UTF-8</charset>
            <pattern>
                %d{HH:mm:ss.SSS} %-5level %logger[%method:%line] - %msg%n
            </pattern>
        </encoder>
    </appender>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <charset>UTF-8</charset>
            <pattern>
                %d{HH:mm:ss.SSS} %-5level %logger[%method:%line] - %X{userInfo} : %msg%n
            </pattern>
        </encoder>
    </appender>

    <!-- TRACE > DEBUG > INFO > WARN > ERROR, 대소문자 구분 안함 -->
    <!-- profile 을 읽어서 appender 을 설정할수 있다.(phase별 파일을 안만들어도 되는 좋은 기능) -->
    <!--
        jdbc.sqlonly    : Logs only SQL
        jdbc.sqltiming  : Logs the SQL, post-execution, including timing execution statistics
        jdbc.audit      : Logs ALL JDBC calls except for ResultSets
        jdbc.resultset  : all calls to ResultSet objects are logged
        jdbc.connection : Logs connection open and close events
     -->
    <springProfile name="local">
        <logger name="org.springframework.security" level="DEBUG"  />
        <logger name="jdbc" level="OFF"  />
        <logger name="jdbc.sqlonly" level="DEBUG" additivity="false" />
        <logger name="jdbc.sqltiming" level="DEBUG" additivity="false" />
        <logger name="jdbc.audit" level="ERROR"  />
        <logger name="jdbc.resultset" level="ERROR" additivity="false"/>
        <logger name="jdbc.resultsettable" level="DEBUG" />
        <logger name="jdbc.connection" level="OFF" additivity="false"/>
        <logger name="org.jooq.tools.LoggerListener" level="DEBUG" />
        <logger name="kr.co.eicn.ippbx" level="DEBUG" />
        <logger name="org.apache" level="DEBUG" additivity="false"/>
        <logger name="com.zaxxer.hikari.HikariConfig" level="DEBUG" />
        <logger name="com.zaxxer.hikari" level="TRACE" />
    </springProfile>

    <springProfile name="stage">
        <logger name="com.zaxxer.hikari.HikariConfig" level="DEBUG" />
        <logger name="com.zaxxer.hikari" level="TRACE" />
    </springProfile>

    <springProfile name="guns">
        <logger name="com.zaxxer.hikari.HikariConfig" level="DEBUG" />
        <logger name="com.zaxxer.hikari" level="TRACE" />
    </springProfile>

    <springProfile name="cc">
        <logger name="com.zaxxer.hikari.HikariConfig" level="DEBUG" />
        <logger name="com.zaxxer.hikari" level="TRACE" />
    </springProfile>

    <root level="INFO">
        <appender-ref ref="STDOUT" />
        <appender-ref ref="FILE" />
    </root>
</configuration>